/*! Devices.css v0.1.16 | MIT License | github.com/picturepan2/devices.css */
.device, .device::before, .device::after, .device *, .device *::before, .device *::after { box-sizing: border-box; display: block; }

.device { position: relative; transform: scale(1); z-index: 1; }

.device .device-frame { z-index: 1; }

.device .device-content { background-color: #fff; background-position: center center; background-size: cover; object-fit: cover; position: relative; }

.device-iphone-x { height: 54.25em; width: 26.75em; }

.device-iphone-x .device-frame { background: #222; border-radius: 4.25em; box-shadow: inset 0 0 0.125em 0.125em #c8cacb, inset 0 0 0 0.4375em #e2e3e4; height: 54.25em; padding: 1.75em; width: 26.75em; }

.device-iphone-x .device-content { border-radius: 2.5em; height: 50.75em; width: 23.4375em; }

.device-iphone-x .device-stripe::after, .device-iphone-x .device-stripe::before { border: solid rgba(51, 51, 51, 0.25); border-width: 0 0.4375em; content: ""; height: 0.4375em; left: 0; position: absolute; width: 100%; z-index: 9; }

.device-iphone-x .device-stripe::after { top: 5.3125em; }

.device-iphone-x .device-stripe::before { bottom: 5.3125em; }

.device-iphone-x .device-header { background: #222; border-bottom-left-radius: 1.25em; border-bottom-right-radius: 1.25em; height: 1.875em; left: 50%; margin-left: -6.375em; position: absolute; top: 1.75em; width: 12.75em; }

.device-iphone-x .device-header::after, .device-iphone-x .device-header::before { content: ""; height: 0.625em; position: absolute; top: 0; width: 0.625em; }

.device-iphone-x .device-header::after { background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 75%, #222 100%); left: -0.625em; }

.device-iphone-x .device-header::before { background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 75%, #222 100%); right: -0.625em; }

.device-iphone-x .device-sensors::after, .device-iphone-x .device-sensors::before { content: ""; position: absolute; }

.device-iphone-x .device-sensors::after { background: #444; border-radius: 0.1875em; height: 0.375em; left: 50%; margin-left: -1.5625em; top: 2em; width: 3.125em; }

.device-iphone-x .device-sensors::before { background: #444; border-radius: 50%; height: 0.875em; left: 50%; margin-left: 2.5em; top: 1.75em; width: 0.875em; }

.device-iphone-x .device-btns { background: #c8cacb; height: 2em; left: -0.1875em; position: absolute; top: 7.1875em; width: 0.1875em; }

.device-iphone-x .device-btns::after, .device-iphone-x .device-btns::before { background: #c8cacb; content: ""; height: 3.875em; left: 0; position: absolute; width: 0.1875em; }

.device-iphone-x .device-btns::after { top: 3.75em; }

.device-iphone-x .device-btns::before { top: 8.75em; }

.device-iphone-x .device-power { background: #c8cacb; height: 6.25em; right: -0.1875em; position: absolute; top: 12.5em; width: 0.1875em; }

.device-iphone-8 { height: 54.4375em; width: 26.1875em; }

.device-iphone-8 .device-frame { background: #fff; border-radius: 4.25em; box-shadow: inset 0 0 0 0.125em #c8cacb, inset 0 0 0 0.4375em #e2e3e4; height: 54.4375em; padding: 6.375em 1.375em; width: 26.1875em; }

.device-iphone-8 .device-content { border: 0.125em solid #222; border-radius: 0.25em; height: 41.6875em; width: 23.4375em; }

.device-iphone-8 .device-stripe::after, .device-iphone-8 .device-stripe::before { border: solid rgba(51, 51, 51, 0.15); border-width: 0 0.4375em; content: ""; height: 0.375em; left: 0; position: absolute; width: 100%; z-index: 9; }

.device-iphone-8 .device-stripe::after { top: 4.25em; }

.device-iphone-8 .device-stripe::before { bottom: 4.25em; }

.device-iphone-8 .device-header { border: 0.125em solid #c8cacb; border-radius: 50%; bottom: 1.5625em; height: 3.625em; left: 50%; margin-left: -1.8125em; position: absolute; width: 3.625em; }

.device-iphone-8 .device-sensors { background: #666; border-radius: 0.1875em; height: 0.375em; left: 50%; margin-left: -2.375em; position: absolute; top: 3.25em; width: 4.75em; }

.device-iphone-8 .device-sensors::after, .device-iphone-8 .device-sensors::before { background: #666; border-radius: 50%; content: ""; position: absolute; }

.device-iphone-8 .device-sensors::after { height: 0.625em; left: 50%; margin-left: -0.3125em; top: -1.5625em; width: 0.625em; }

.device-iphone-8 .device-sensors::before { height: 0.75em; left: -2.625em; margin-top: -0.375em; top: 50%; width: 0.75em; }

.device-iphone-8 .device-btns { background: #c8cacb; height: 1.875em; left: -0.1875em; position: absolute; top: 6.375em; width: 0.1875em; }

.device-iphone-8 .device-btns::after, .device-iphone-8 .device-btns::before { background: #c8cacb; content: ""; height: 3.5em; left: 0; position: absolute; width: 0.1875em; }

.device-iphone-8 .device-btns::after { top: 3.875em; }

.device-iphone-8 .device-btns::before { top: 8.25em; }

.device-iphone-8 .device-power { background: #c8cacb; height: 5em; right: -0.125em; position: absolute; top: 10em; width: 0.1875em; }

.device-iphone-8.device-gold .device-frame { box-shadow: inset 0 0 0 0.125em #e4b08a, inset 0 0 0 0.4375em #f7e8dd; }

.device-iphone-8.device-gold .device-header { border-color: #e4b08a; }

.device-iphone-8.device-gold .device-btns, .device-iphone-8.device-gold .device-btns::after, .device-iphone-8.device-gold .device-btns::before { background: #e4b08a; }

.device-iphone-8.device-gold .device-power { background: #e4b08a; }

.device-iphone-8.device-spacegray .device-frame { background: #222; box-shadow: inset 0 0 0 0.125em #74747a, inset 0 0 0 0.4375em #9b9ba0; }

.device-iphone-8.device-spacegray .device-stripe::after, .device-iphone-8.device-spacegray .device-stripe::before { border-color: rgba(204, 204, 204, 0.35); }

.device-iphone-8.device-spacegray .device-btns, .device-iphone-8.device-spacegray .device-btns::after, .device-iphone-8.device-spacegray .device-btns::before { background: #74747a; }

.device-google-pixel-2-xl { height: 52em; width: 25.25em; }

.device-google-pixel-2-xl .device-frame { background: #121212; border-radius: 2.25em; box-shadow: inset 0 0 0 0.125em #cfcfcf, inset 0 0 0 0.4375em #9c9c9c; height: 52em; padding: 3.5em 1.375em; width: 25.25em; }

.device-google-pixel-2-xl .device-content { border-radius: 1.6875em; height: 45em; width: 22.5em; }

.device-google-pixel-2-xl .device-header { height: 52em; left: 50%; margin-left: -9.375em; position: absolute; top: 0; width: 18.75em; }

.device-google-pixel-2-xl .device-header::after, .device-google-pixel-2-xl .device-header::before { background: #333; border-radius: 0.1875em; content: ""; height: 0.375em; left: 50%; margin-left: -4.5625em; margin-top: -0.1875em; position: absolute; width: 9.125em; }

.device-google-pixel-2-xl .device-header::after { top: 1.5em; }

.device-google-pixel-2-xl .device-header::before { bottom: 1.75em; }

.device-google-pixel-2-xl .device-sensors { background: #333; border-radius: 0.4375em; height: 0.875em; left: 3.375em; margin-top: -0.4375em; position: absolute; top: 2.25em; width: 0.875em; }

.device-google-pixel-2-xl .device-btns { background: #cfcfcf; height: 6.375em; position: absolute; right: -0.1875em; top: 19.125em; width: 0.1875em; }

.device-google-pixel-2-xl .device-power { background: #cfcfcf; height: 3.625em; position: absolute; right: -0.1875em; top: 12.125em; width: 0.1875em; }

.device-google-pixel { height: 46.5em; width: 22.5em; }

.device-google-pixel .device-frame { background: #f7f7f8; border-radius: 3.375em; box-shadow: inset 0 0 0 0.125em #c8cacb, inset 0 0 0 0.375em #e2e3e4, inset 0 0 0 0.625em white; height: 46.5em; padding: 5.125em 1.125em 5.375em 1.125em; width: 22.5em; }

.device-google-pixel .device-content { border: 0.125em solid #222; border-radius: 0.125em; height: 36em; width: 20.25em; }

.device-google-pixel .device-stripe { border-top: 0.375em solid rgba(51, 51, 51, 0.15); bottom: 0; left: 15.875em; position: absolute; top: 0; width: 0.5em; }

.device-google-pixel .device-stripe::after, .device-google-pixel .device-stripe::before { border: solid rgba(51, 51, 51, 0.15); border-width: 0 0.375em; content: ""; height: 0.625em; left: -15.875em; position: absolute; width: 22.5em; z-index: 9; }

.device-google-pixel .device-stripe::after { top: 3.75em; }

.device-google-pixel .device-stripe::before { bottom: 2.875em; }

.device-google-pixel .device-sensors { background: #ddd; border-radius: 0.15625em; height: 0.3125em; left: 50%; margin-left: -2.4375em; margin-top: -0.15625em; position: absolute; top: 2.5625em; width: 4.875em; }

.device-google-pixel .device-sensors::after, .device-google-pixel .device-sensors::before { background: #333; border-radius: 0.375em; content: ""; position: absolute; }

.device-google-pixel .device-sensors::after { height: 0.75em; left: 50%; margin-left: -0.875em; top: 1.34375em; width: 1.75em; }

.device-google-pixel .device-sensors::before { height: 0.625em; left: -5.0625em; margin-top: -0.3125em; top: 50%; width: 0.625em; }

.device-google-pixel .device-btns { background: #c8cacb; height: 6.375em; position: absolute; right: -0.125em; top: 18.625em; width: 0.1875em; }

.device-google-pixel .device-power { background: #c8cacb; height: 3.125em; position: absolute; right: -0.125em; top: 11.5em; width: 0.1875em; }

.device-google-pixel.device-black .device-frame { background: #211d1c; box-shadow: inset 0 0 0 0.125em #363635, inset 0 0 0 0.375em #6a6967, inset 0 0 0 0.625em #3d3533; }

.device-google-pixel.device-black .device-stripe, .device-google-pixel.device-black .device-stripe::after, .device-google-pixel.device-black .device-stripe::before { border-color: rgba(13, 13, 13, 0.35); }

.device-google-pixel.device-black .device-sensors { background: #444; }

.device-google-pixel.device-black .device-sensors::after { background: #0d0d0d; }

.device-google-pixel.device-black .device-btns, .device-google-pixel.device-black .device-btns::after, .device-google-pixel.device-black .device-btns::before { background: #363635; }

.device-google-pixel.device-black .device-power { background: #363635; }

.device-google-pixel.device-blue .device-frame { box-shadow: inset 0 0 0 0.125em #2a5aff, inset 0 0 0 0.375em #7695ff, inset 0 0 0 0.625em white; }

.device-google-pixel.device-blue .device-btns, .device-google-pixel.device-blue .device-btns::after, .device-google-pixel.device-blue .device-btns::before { background: #2a5aff; }

.device-google-pixel.device-blue .device-power { background: #2a5aff; }

.device-galaxy-s8 { height: 51.75em; width: 23.75em; }

.device-galaxy-s8 .device-frame { background: #222; border: solid #cfcfcf; border-radius: 3.4375em; border-width: 0.3125em 0; box-shadow: inset 0 0 0 0.125em #9c9c9c; height: 51.75em; padding: 3em 0.625em 2.5em 0.625em; width: 23.75em; }

.device-galaxy-s8 .device-content { border: 0.125em solid #222; border-radius: 2.125em; height: 46.25em; width: 22.5em; }

.device-galaxy-s8 .device-stripe::after, .device-galaxy-s8 .device-stripe::before { border: solid rgba(51, 51, 51, 0.15); border-width: 0.3125em 0; content: ""; height: 51.75em; position: absolute; top: 0; width: 0.375em; z-index: 9; }

.device-galaxy-s8 .device-stripe::after { left: 3em; }

.device-galaxy-s8 .device-stripe::before { right: 3em; }

.device-galaxy-s8 .device-sensors { background: #666; border-radius: 0.1875em; height: 0.375em; left: 50%; margin-left: -1.5em; margin-top: -0.1875em; position: absolute; top: 2em; width: 3em; }

.device-galaxy-s8 .device-sensors::after, .device-galaxy-s8 .device-sensors::before { background: #666; border-radius: 50%; content: ""; position: absolute; top: 50%; }

.device-galaxy-s8 .device-sensors::after { box-shadow: -12em 0 #333, -10.875em 0 #333, -15em 0 #333; height: 0.5em; right: -5.625em; margin-top: -0.25em; width: 0.5em; }

.device-galaxy-s8 .device-sensors::before { box-shadow: 11.625em 0 #666; height: 0.75em; left: -5.625em; margin-top: -0.375em; width: 0.75em; }

.device-galaxy-s8 .device-btns { background: #9c9c9c; border-radius: 0.1875em 0 0 0.1875em; height: 7.25em; left: -0.1875em; position: absolute; top: 9em; width: 0.1875em; }

.device-galaxy-s8 .device-btns::after { background: #9c9c9c; border-radius: 0.1875em 0 0 0.1875em; content: ""; height: 3.375em; left: 0; position: absolute; top: 10.25em; width: 0.1875em; }

.device-galaxy-s8 .device-power { background: #9c9c9c; border-radius: 0 0.1875em 0.1875em 0; height: 3.375em; right: -0.1875em; position: absolute; top: 16.25em; width: 0.1875em; }

.device-galaxy-s8.device-blue .device-frame { border-color: #a3c5e8; box-shadow: inset 0 0 0 0.125em #5192d4; }

.device-galaxy-s8.device-blue .device-stripe::after, .device-galaxy-s8.device-blue .device-stripe::before { border-color: rgba(255, 255, 255, 0.35); }

.device-galaxy-s8.device-blue .device-btns, .device-galaxy-s8.device-blue .device-btns::after { background: #5192d4; }

.device-galaxy-s8.device-blue .device-power { background: #5192d4; }

.device-ipad-pro { height: 50.25em; width: 35em; }

.device-ipad-pro .device-frame { background: #fff; border-radius: 2.375em; box-shadow: inset 0 0 0 0.125em #c8cacb, inset 0 0 0 0.375em #e2e3e4; height: 50.25em; padding: 3.875em 1.5625em; width: 35em; }

.device-ipad-pro .device-content { border: 0.125em solid #222; border-radius: 0.125em; height: 42.5em; width: 31.875em; }

.device-ipad-pro .device-header { border: 0.125em solid #c8cacb; border-radius: 50%; bottom: 1.0625em; height: 2.125em; left: 50%; margin-left: -1.0625em; position: absolute; width: 2.125em; }

.device-ipad-pro .device-sensors { background: #666; border-radius: 50%; height: 0.625em; left: 50%; margin-left: -0.3125em; margin-top: -0.3125em; position: absolute; top: 2.125em; width: 0.625em; }

.device-ipad-pro.device-gold .device-frame { box-shadow: inset 0 0 0 0.125em #e4b08a, inset 0 0 0 0.375em #f7e8dd; }

.device-ipad-pro.device-gold .device-header { border-color: #e4b08a; }

.device-ipad-pro.device-rosegold .device-frame { box-shadow: inset 0 0 0 0.125em #f6a69a, inset 0 0 0 0.375em #facfc9; }

.device-ipad-pro.device-rosegold .device-header { border-color: #f6a69a; }

.device-ipad-pro.device-spacegray .device-frame { background: #222; box-shadow: inset 0 0 0 0.125em #818187, inset 0 0 0 0.375em #9b9ba0; }

.device-ipad-pro.device-spacegray .device-header { border-color: #818187; }

.device-surface-pro { height: 24.625em; width: 35.0625em; }

.device-surface-pro .device-frame { background: #0d0d0d; border-radius: 0.625em; box-shadow: inset 0 0 0 0.125em #c8c8c8; height: 24.625em; margin: 0 auto; padding: 1.625em 1.5em; width: 35.0625em; }

.device-surface-pro .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 21.375em; width: 32.0625em; }

.device-surface-pro .device-btns::after, .device-surface-pro .device-btns::before { background: #c8c8c8; content: ""; height: 0.125em; position: absolute; top: -0.125em; }

.device-surface-pro .device-btns::after { left: 3em; width: 1.625em; }

.device-surface-pro .device-btns::before { left: 5.875em; width: 3em; }

.device-surface-pro .device-sensors { background: #333; border-radius: 50%; height: 0.375em; left: 50%; margin-left: -0.1875em; margin-top: -0.1875em; position: absolute; top: 0.875em; width: 0.375em; }

.device-surface-book { height: 26.5em; width: 45.5em; }

.device-surface-book .device-frame { background: #0d0d0d; border-radius: 0.75em; box-shadow: inset 0 0 0 0.125em #c8c8c8; height: 25.5em; margin: 0 auto; padding: 1.5em 1.375em; position: relative; width: 36.5em; }

.device-surface-book .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 22.5em; width: 33.75em; }

.device-surface-book .device-btns::after, .device-surface-book .device-btns::before { background: #c8c8c8; content: ""; height: 0.125em; position: absolute; top: -0.125em; }

.device-surface-book .device-btns::after { left: 7.625em; width: 1.25em; }

.device-surface-book .device-btns::before { left: 10.5em; width: 2.75em; }

.device-surface-book .device-power { background: linear-gradient(to bottom, #eee, #c8c8c8); border: solid #c8c8c8; border-radius: 0.125em; border-width: 0 0.125em; height: 0.75em; margin-top: 0.25em; position: relative; width: 45.5em; }

.device-surface-book .device-power::after, .device-surface-book .device-power::before { content: ""; position: absolute; }

.device-surface-book .device-power::after { background: radial-gradient(circle at center, #eee 0, #eee 95%, #a2a1a1 100%); border-radius: 0 0 0.375em 0.375em; height: 0.5em; left: 50%; margin-left: -7.8125em; top: 0; width: 15.625em; z-index: 1; }

.device-surface-book .device-power::before { background: linear-gradient(to bottom, #eee, #c8c8c8); border-radius: 0.125em 0.125em 0 0; bottom: 0.75em; height: 0.5em; left: 50%; margin-left: -18.25em; width: 36.5em; }

.device-macbook-pro { height: 27.75em; width: 46.25em; }

.device-macbook-pro .device-frame { background: #0d0d0d; border-radius: 1.25em; box-shadow: inset 0 0 0 0.125em #c8cacb; height: 26.75em; margin: 0 auto; padding: 1.8125em 1.1875em 2.4375em 1.1875em; position: relative; width: 38.375em; }

.device-macbook-pro .device-frame::after { background: #272626; border-radius: 0 0 1.25em 1.25em; bottom: 0.125em; content: ""; height: 1.625em; left: 0.125em; position: absolute; width: 38.125em; }

.device-macbook-pro .device-frame::before { bottom: 0.625em; color: #c8cacb; content: "MacBook Pro"; font-size: 0.75em; height: 1em; left: 50%; line-height: 1em; margin-left: -6.25em; position: absolute; text-align: center; width: 12.5em; z-index: 1; }

.device-macbook-pro .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 22.5em; width: 36em; }

.device-macbook-pro .device-power { background: #e2e3e4; border: solid #d5d6d8; border-radius: 0.125em 0.125em 0 0; border-width: 0.125em 0.25em 0 0.25em; height: 0.875em; margin-top: -0.625em; position: relative; width: 46.25em; z-index: 9; }

.device-macbook-pro .device-power::after, .device-macbook-pro .device-power::before { content: ""; position: absolute; }

.device-macbook-pro .device-power::after { background: #d5d6d8; border-radius: 0 0 0.625em 0.625em; box-shadow: inset 0 0 0.25em 0.125em #babdbf; height: 0.625em; left: 50%; margin-left: -3.75em; top: -0.125em; width: 7.5em; }

.device-macbook-pro .device-power::before { background: #a0a3a7; border-radius: 0 0 11.25em 11.25em/ 0 0 0.75em 0.75em; box-shadow: inset 0 -0.125em 0.375em 0 #474a4d; height: 0.75em; left: -0.25em; margin: 0 auto; top: 0.625em; width: 46.25em; }

.device-macbook-pro.device-spacegray .device-frame { box-shadow: inset 0 0 0 0.125em #767a7d; }

.device-macbook-pro.device-spacegray .device-power { background: #909496; border-color: #767a7d; }

.device-macbook-pro.device-spacegray .device-power::after { background: #83878a; box-shadow: inset 0 0 0.25em 0.125em #6a6d70; }

.device-macbook-pro.device-spacegray .device-power::before { background: #515456; box-shadow: inset 0 -0.125em 0.375em 0 black; }

.device-macbook { height: 27em; width: 46.25em; }

.device-macbook .device-frame { background: #0d0d0d; border-radius: 1.25em; box-shadow: inset 0 0 0 0.125em #c8cacb; height: 26.75em; margin: 0 auto; padding: 1.8125em 1.1875em 2.4375em 1.1875em; position: relative; width: 38.375em; }

.device-macbook .device-frame::after { background: #272626; border-radius: 0 0 1.25em 1.25em; bottom: 0.125em; content: ""; height: 1.625em; left: 0.125em; position: absolute; width: 38.125em; }

.device-macbook .device-frame::before { bottom: 0.625em; color: #c8cacb; content: "MacBook"; font-size: 0.75em; height: 1em; left: 50%; line-height: 1em; margin-left: -6.25em; position: absolute; text-align: center; width: 12.5em; z-index: 1; }

.device-macbook .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 22.5em; width: 36em; }

.device-macbook .device-power { background: #e2e3e4; border: solid #d5d6d8; border-radius: 0.125em 0.125em 0 0; border-width: 0 0.25em; height: 0.25em; margin-top: -0.625em; position: relative; width: 46.25em; z-index: 9; }

.device-macbook .device-power::after, .device-macbook .device-power::before { content: ""; position: absolute; }

.device-macbook .device-power::after { background: radial-gradient(circle at center, #e2e3e4 0, #e2e3e4 85%, #a0a3a7 100%); border: solid #adb0b3; border-width: 0 0.125em; height: 0.25em; left: 50%; margin-left: -3.75em; width: 7.5em; }

.device-macbook .device-power::before { background: #a0a3a7; border-radius: 0 0 11.25em 11.25em/ 0 0 0.625em 0.625em; box-shadow: inset 0 -0.125em 0.375em 0 #474a4d; height: 0.625em; left: -0.25em; margin: 0 auto; top: 0.25em; width: 46.25em; }

.device-macbook.device-gold .device-frame { box-shadow: inset 0 0 0 0.125em #edccb4; }

.device-macbook.device-gold .device-power { background: #f7e8dd; border-color: #edccb4; }

.device-macbook.device-gold .device-power::after { background: radial-gradient(circle at center, #f7e8dd 0, #f7e8dd 85%, #dfa276 100%); border-color: #e4b08a; }

.device-macbook.device-gold .device-power::before { background: #edccb4; box-shadow: inset 0 -0.125em 0.375em 0 #83491f; }

.device-macbook.device-rosegold .device-frame { box-shadow: inset 0 0 0 0.125em #f6a69a; }

.device-macbook.device-rosegold .device-power { background: #facfc9; border-color: #f6a69a; }

.device-macbook.device-rosegold .device-power::after { background: radial-gradient(circle at center, #facfc9 0, #facfc9 85%, #ef6754 100%); border-color: #f6a69a; }

.device-macbook.device-rosegold .device-power::before { background: #f6a69a; box-shadow: inset 0 -0.125em 0.375em 0 #851b0c; }

.device-macbook.device-spacegray .device-frame { box-shadow: inset 0 0 0 0.125em #767a7d; }

.device-macbook.device-spacegray .device-power { background: #909496; border-color: #767a7d; }

.device-macbook.device-spacegray .device-power::after { background: radial-gradient(circle at center, #909496 0, #909496 85%, #515456 100%); border-color: #5d6163; }

.device-macbook.device-spacegray .device-power::before { background: #515456; box-shadow: inset 0 -0.125em 0.375em 0 black; }

.device-surface-studio { height: 31.625em; width: 40em; }

.device-surface-studio .device-frame { background: #0d0d0d; border-radius: 0.625em; box-shadow: inset 0 0 0 0.125em black; height: 27.5em; padding: 1.25em; width: 40em; }

.device-surface-studio .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 25em; width: 37.5em; }

.device-surface-studio .device-stripe { background: #444; border-radius: 0 0 0.125em 0.125em; bottom: 0; height: 0.25em; left: 50%; margin-left: -7.3125em; position: absolute; width: 14.625em; }

.device-surface-studio .device-stripe::after, .device-surface-studio .device-stripe::before { content: ""; left: 50%; position: absolute; top: -4.6875em; }

.device-surface-studio .device-stripe::after { border: 0.375em solid #d5d6d8; border-top: 0; border-radius: 0 0 1.125em 1.125em; box-shadow: inset 0 0 0 0.25em #c8cacb; height: 3.75em; margin-left: -8.75em; width: 17.5em; z-index: -1; }

.device-surface-studio .device-stripe::before { border: 0.9375em solid #e2e3e4; border-top: 0; border-radius: 0 0 0.25em 0.25em; height: 4.375em; margin-left: -9.375em; width: 18.75em; z-index: -2; }

.device-surface-studio .device-power { background: #eff0f0; border: solid #e2e3e4; border-radius: 0 0 0.125em 0.125em; border-width: 0 0.25em 0.125em 0.25em; height: 2em; margin: 1.875em auto 0 auto; position: relative; width: 15.625em; }

.device-surface-studio .device-power::after { background: #adb0b3; content: ""; height: 0.125em; left: -0.25em; position: absolute; top: 0.25em; width: 15.625em; }

.device-imac-pro { height: 30.25em; width: 39em; }

.device-imac-pro .device-frame { background: #0d0d0d; border-radius: 1.125em; box-shadow: inset 0 0 0 0.125em #080808; height: 26.75em; padding: 1.5em 1.5em 5em 1.5em; position: relative; width: 39em; }

.device-imac-pro .device-frame::after { background: #2f2e33; border-radius: 0 0 1.125em 1.125em; bottom: 0.125em; content: ""; height: 3.375em; left: 0.125em; position: absolute; width: 38.75em; }

.device-imac-pro .device-frame::before { bottom: 0.9375em; color: #0d0d0d; content: ""; font-size: 1.5em; height: 1.5em; left: 50%; line-height: 1.5em; margin-left: -6.25em; position: absolute; text-align: center; width: 12.5em; z-index: 9; }

.device-imac-pro .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 20.25em; width: 36em; }

.device-imac-pro .device-power::after, .device-imac-pro .device-power::before { content: ""; }

.device-imac-pro .device-power::after { background: #222225; border-radius: 0.125em; height: 0.375em; margin: 0 auto; position: relative; width: 11.25em; }

.device-imac-pro .device-power::before { border: solid transparent; border-bottom-color: #333333; border-width: 0 0.5em 3.125em 0.5em; height: 3.125em; margin: 0 auto; position: relative; width: 8.125em; }

.device-apple-watch { height: 14.625em; width: 12.5em; }

.device-apple-watch .device-frame { background: #0d0d0d; border-radius: 2.5em; box-shadow: inset 0 0 0.125em 0.125em #adb0b3, inset 0 0 0 0.375em #e2e3e4, inset 0 0 0 0.5em #e2e3e4; height: 14.625em; padding: 2em; position: relative; width: 12.5em; }

.device-apple-watch .device-frame::after { border-radius: 1.875em; box-shadow: inset 0 0 1.5625em 0 rgba(255, 255, 255, 0.75); content: ""; height: 13.5em; left: 0.5625em; position: absolute; top: 0.5625em; width: 11.375em; }

.device-apple-watch .device-content { border: 0.125em solid #121212; border-radius: 0.125em; height: 10.625em; width: 8.5em; }

.device-apple-watch .device-btns { background: #e2e3e4; border-left: 0.125em solid #adb0b3; border-radius: 0.5em 0.25em 0.25em 0.5em / 1.25em 0.25em 0.25em 1.25em; box-shadow: inset 0 0 0.125em 0.125em #adb0b3; height: 2.75em; position: absolute; right: -0.625em; top: 3.25em; width: 1em; z-index: 9; }

.device-apple-watch .device-btns::after { background: #e2e3e4; border-radius: 0.25em 0.125em 0.125em 0.25em / 0.625em 0.125em 0.125em 0.625em; box-shadow: inset 0 0 0.0625em 0.125em #adb0b3; content: ""; height: 4.125em; right: 0.375em; position: absolute; top: 4.25em; width: 0.5em; }

.device-apple-watch .device-btns::before { background: #adb0b3; box-shadow: 0 -1em #adb0b3, 0 -0.75em #adb0b3, 0 -0.5em #adb0b3, 0 -0.25em #adb0b3, 0 0.25em #adb0b3, 0 0.5em #adb0b3, 0 0.75em #adb0b3, 0 1em #adb0b3; content: ""; height: 0.125em; margin-top: -0.0625em; position: absolute; right: 0; top: 50%; width: 0.375em; }
