// Apple Watch
$device-gray: #e2e3e4;
$device-gray-dark: darken($device-gray, 20%);
$device-gray-panel: #0d0d0d;

.device-apple-watch {
  height: 14.625em;
  width: 12.5em;

  .device-frame {
    background: $device-gray-panel;
    border-radius: 2.5em;
    box-shadow: inset 0 0 0.125em 0.125em $device-gray-dark, inset 0 0 0 0.375em $device-gray, inset 0 0 0 0.5em $device-gray;
    height: 14.625em;
    padding: 2em;
    position: relative;
    width: 12.5em;

    &::after {
      border-radius: 1.875em;
      box-shadow: inset 0 0 1.5625em 0 rgba(255, 255, 255, .75);
      content: "";
      height: 13.5em;
      left: 0.5625em;
      position: absolute;
      top: 0.5625em;
      width: 11.375em;
    }
  }

  // 272-by-340-pixel resolution
  .device-content {
    border: 0.125em solid lighten($device-silver-panel, 2%);
    border-radius: 0.125em;
    height: 10.625em;
    width: 8.5em;
  }

  .device-btns {
    background: $device-gray;
    border-left: 0.125em solid $device-gray-dark;
    border-radius: 0.5em 0.25em 0.25em 0.5em / 1.25em 0.25em 0.25em 1.25em;
    box-shadow: inset 0 0 0.125em 0.125em $device-gray-dark;
    height: 2.75em;
    position: absolute;
    right: -0.625em;
    top: 3.25em;
    width: 1em;
    z-index: 9;

    &::after {
      background: $device-gray;
      border-radius: 0.25em 0.125em 0.125em 0.25em / 0.625em 0.125em 0.125em 0.625em;
      box-shadow: inset 0 0 0.0625em 0.125em $device-gray-dark;
      content: "";
      height: 4.125em;
      right: 0.375em;
      position: absolute;
      top: 4.25em;
      width: 0.5em;
    }
    
    &::before {
      background: $device-gray-dark;
      box-shadow: 0 -1em $device-gray-dark, 0 -0.75em $device-gray-dark, 0 -0.5em $device-gray-dark, 0 -0.25em $device-gray-dark, 0 0.25em $device-gray-dark, 0 0.5em $device-gray-dark, 0 0.75em $device-gray-dark, 0 1em $device-gray-dark;
      content: "";
      height: 0.125em;
      margin-top: -0.0625em;
      position: absolute;
      right: 0;
      top: 50%;
      width: 0.375em;
    }
  }
}