// Google Pixel
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #f7f7f8;
$device-black: #6a6967;
$device-black-dark: darken($device-black, 20%);
$device-black-panel: #211d1c;
$device-blue: #7695ff;
$device-blue-dark: darken($device-blue, 15%);
$device-blue-panel: #f7f7f8;

.device-google-pixel {
  height: 46.5em;
  width: 22.5em;

  .device-frame {
    background: $device-silver-panel;
    border-radius: 3.375em;
    box-shadow: inset 0 0 0 0.125em $device-silver-dark, inset 0 0 0 0.375em $device-silver, inset 0 0 0 0.625em lighten($device-silver-panel, 10%);
    height: 46.5em;
    padding: 5.125em 1.125em 5.375em 1.125em;
    width: 22.5em;
  }

  // 1920-by-1080-pixel resolution
  .device-content {
    border: 0.125em solid #222;
    border-radius: 0.125em;
    height: 36em;
    width: 20.25em;
  }

  .device-stripe {
    border-top: 0.375em solid rgba(#333, .15);
    bottom: 0;
    left: 15.875em;
    position: absolute;
    top: 0;
    width: 0.5em;

    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 0 0.375em;
      content: "";
      height: 0.625em;
      left: -15.875em;
      position: absolute;
      width: 22.5em;
      z-index: 9;
    }
    &::after {
      top: 3.75em;
    }
    &::before {
      bottom: 2.875em;
    }
  }

  .device-sensors {
    background: #ddd;
    border-radius: 0.1563em;
    height: 0.3125em;
    left: 50%;
    margin-left: -2.4375em;
    margin-top: -0.1563em;
    position: absolute;
    top: 2.5625em;
    width: 4.875em;

    &::after,
    &::before {
      background: #333;
      border-radius: 0.375em;
      content: "";
      position: absolute;
    }
    &::after {
      height: 0.75em;
      left: 50%;
      margin-left: -0.875em;
      top: 1.3438em;
      width: 1.75em;
    }
    &::before {
      height: 0.625em;
      left: -5.0625em;
      margin-top: -0.3125em;
      top: 50%;
      width: 0.625em;
    }
  }

  .device-btns {
    background: $device-silver-dark;
    height: 6.375em;
    position: absolute;
    right: -0.125em;
    top: 18.625em;
    width: 0.1875em;
  }

  .device-power {
    background: $device-silver-dark;
    height: 3.125em;
    position: absolute;
    right: -0.125em;
    top: 11.5em;
    width: 0.1875em;
  }

  // Black edition 
  &.device-black {
    .device-frame {
      background: $device-black-panel;
      box-shadow: inset 0 0 0 0.125em $device-black-dark, inset 0 0 0 0.375em $device-black, inset 0 0 0 0.625em lighten($device-black-panel, 10%);
    }

    .device-stripe {
      &,
      &::after,
      &::before {
        border-color: rgba(#0d0d0d, .35);
      }
    }

    .device-sensors {
      background: #444;

      &::after {
        background: #0d0d0d;
      }
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-black-dark;
      }
    }

    .device-power {
      background: $device-black-dark;
    }
  }

  // Blue edition
  &.device-blue {
    .device-frame {
      box-shadow: inset 0 0 0 0.125em $device-blue-dark, inset 0 0 0 0.375em $device-blue, inset 0 0 0 0.625em lighten($device-blue-panel, 10%);
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-blue-dark;
      }
    }

    .device-power {
      background: $device-blue-dark;
    }
  }
}