// iPhone 8
$device-silver: #e2e3e4;
$device-silver-dark: darken($device-silver, 10%);
$device-silver-panel: #fff;
$device-gold: #f7e8dd;
$device-gold-dark: darken($device-gold, 20%);
$device-gold-panel: #fff;
$device-spacegray: #9b9ba0;
$device-spacegray-dark: darken($device-spacegray, 15%);
$device-spacegray-panel: #222;

.device-iphone-8 {
  height: 54.4375em;
  width: 26.1875em;

  .device-frame {
    background: $device-silver-panel;
    border-radius: 4.25em;
    box-shadow: inset 0 0 0 0.125em $device-silver-dark, inset 0 0 0 0.4375em $device-silver;
    height: 54.4375em;
    padding: 6.375em 1.375em;
    width: 26.1875em;
  }

  // 1334-by-750-pixel resolution
  .device-content {
    border: 0.125em solid #222;
    border-radius: 0.25em;
    height: 41.6875em;
    width: 23.4375em;
  }

  .device-stripe {
    &::after,
    &::before {
      border: solid rgba(#333, .15);
      border-width: 0 0.4375em;
      content: "";
      height: 0.375em;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 9;
    }
    &::after {
      top: 4.25em;
    }
    &::before {
      bottom: 4.25em;
    }
  }

  // Home button
  .device-header {
    border: 0.125em solid $device-silver-dark;
    border-radius: 50%;
    bottom: 1.5625em;
    height: 3.625em;
    left: 50%;
    margin-left: -1.8125em;
    position: absolute;
    width: 3.625em;
  }

  .device-sensors {
    background: #666;
    border-radius: 0.1875em;
    height: 0.375em;
    left: 50%;
    margin-left: -2.375em;
    position: absolute;
    top: 3.25em;
    width: 4.75em;

    &::after,
    &::before {
      background: #666;
      border-radius: 50%;
      content: "";
      position: absolute;
    }
    &::after {  
      height: 0.625em;
      left: 50%;
      margin-left: -0.3125em;
      top: -1.5625em;
      width: 0.625em;
    }
    &::before {
      height: 0.75em;
      left: -2.625em;
      margin-top: -0.375em;
      top: 50%;
      width: 0.75em;
    }
  }

  .device-btns {
    background: $device-silver-dark;
    height: 1.875em;
    left: -0.1875em;
    position: absolute;
    top: 6.375em;
    width: 0.1875em;

    &::after,
    &::before {
      background: $device-silver-dark;
      content: "";
      height: 3.5em;
      left: 0;
      position: absolute;
      width: 0.1875em;
    }

    &::after {
      top: 3.875em;
    }
    &::before {
      top: 8.25em;
    }
  }

  .device-power {
    background: $device-silver-dark;
    height: 5em;
    right: -0.125em;
    position: absolute;
    top: 10em;
    width: 0.1875em;
  }

  // Gold edition 
  &.device-gold {
    .device-frame {
      box-shadow: inset 0 0 0 0.125em $device-gold-dark, inset 0 0 0 0.4375em $device-gold;
    }

    .device-header {
      border-color: $device-gold-dark;
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-gold-dark;
      }
    }

    .device-power {
      background: $device-gold-dark;
    }
  }

  // Space Gray edition
  &.device-spacegray {
    .device-frame {
      background: $device-spacegray-panel;
      box-shadow: inset 0 0 0 0.125em $device-spacegray-dark, inset 0 0 0 0.4375em $device-spacegray;
    }

    .device-stripe {
      &::after,
      &::before {
        border-color: rgba(#ccc, .35);
      }
    }

    .device-btns {
      &,
      &::after,
      &::before {
        background: $device-spacegray-dark;
      }
    }
  }
}